.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.summary-overview{
    margin-top: 30px;
    background: #edecec url("../../images/camping5.jpg") no-repeat scroll right top / 50% 100%;
}

.highlights{
    margin-top: 120px;
    align-items: center;
}

.summary-heading{
    margin-top: 30px;
}

.summary-info-left-text{
    margin-top: 100px;
    margin-bottom: 100px;
}

.cart-button{
    margin-top: 40px;
    align-items: center;
}