.header-bar {
    padding: 10px 10px;
    background: rgba(251, 247, 247, 0.7) none repeat scroll 0 0;
    margin-top: 10px;
    z-index: 1;
    height: 50px; 
}

.header{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 5px;  
}

.navigation{
    margin-top: 10px;
}

.menu{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 5px;  
}