.header-bar {
    padding: 10px 0;
    background: rgba(251, 247, 247, 0.7) none repeat scroll 0 0;
    margin-top: 10px;
    z-index: 1;
    
}

.container{
    margin-left: auto;
    margin-top: auto;
}