.header-bar {
    /* padding: 10px 0;
    background: rgba(251, 247, 247, 0.7) none repeat scroll 0 0;
    margin-top: 10px;
    z-index: 1; */
}
.header-container {
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
}

.header-text{
   display: flex;
   align-items: center;
}

body, html {
    height: 100%;
}
.main-navi{
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    background: rgba(22,91,154,0.8)!important;
    color: #fff!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    height: 60px;
}
.main-logo{
    filter: brightness(0) invert(1)!important;
    width: 50px;
    padding-left: 5px;
}
.menu a{
    font-size: 14px;
    font-weight: 600;
    color: #fff!important;
    padding: 0 18px!important;
    z-index: 1;
    
}

.container{
    margin-left: auto;
    margin-top: auto;
}
.cart-icon{
    color: #fff;
}

.cart-icon:hover, .cart-icon:active, .cart-icon:focus{
    color: #fff;
}
.header-text{
    position: relative!important;
}

.header-text>span {
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    background: #007bff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    left: 13px;
}
.register-btn{
    padding-right: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff!important;
    text-decoration: none;
}
.register-btn:hover, .register-btn:active, .register-btn:focus{
    font-size: 14px;
    font-weight: 600;
    color: #fff!important;
    text-decoration: none;
    padding-right: 15px;
}
.register-btn svg{
    color: #fff!important;
}
.sign-out-btn{
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff!important;
    padding: 0 18px!important;
}