.hero-image{
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    background-image: url("../../images/camping4.jpg");
    height: 5%;
}

.trip-information{
    background: #edecec url("../../images/camp.jpg") no-repeat scroll right top / 50% 100%;
    padding-bottom: 96px;
    padding-top: 100px;
    position: relative;
}

.trip-inclusions{
    background-color: #ffffff;
    padding-bottom: 96px;
    padding-top: 100px;
    position: relative;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
